<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        bootstrap="./vendor/autoload.php"
        colors="true"
        columns="max"
        failOnRisky="true"
        failOnWarning="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="true"
        verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <groups>
                <exclude>
                    <group>integration</group>
                </exclude>
            </groups>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>